<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-digimedia-v1.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">
	<link rel="stylesheet" href="assets/css/lightbox.css">
<!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
  </head>


<body background="sendayan.png">

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Pre-header Starts -->

  <!-- Pre-header End -->

  <!-- ***** Header Area Start ***** -->

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
			<div class="logo">
			<a href="#top"><img src="assets/images/e-Tauliah.png" width="150px" height="80px" ></img></a>
			</div>
			<!--<div class="logo" style="width:70px; height:70px">
            <a href="index.html" class="logo" style="width:70px ;height:70px;">
              <img src="assets/images/e-Tauliah.png" alt="" ></img>
            </div>-->
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Laman Utama</a></li>
              <li class="scroll-to-section"><a href="#free-quote">Carian PBNS</a></li>
			  <li class="scroll-to-section"><a href="#aduan">Aduan</a></li>
              <li class="scroll-to-section"><a href="#faq">Soalan Lazim</a></li>
              <li class="scroll-to-section"><a href="#contact">Hubungi Kami</a></li>
              <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Login</a></div></li> 
            </ul>        
            
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
 
  <!-- ***** Header Area End ***** -->
  <section>
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>e-Tauliah</h6>
                    <h2>Perkhidmatan Digital Pengurusan Tauliah Mengajar Negeri Selangor</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
    <!--<section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Pengumuman 1</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="">More Info.</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Pengumuman 2</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="">Details</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Pengumuman 3</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="">Read More</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <br>
	
	<div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h4>Pengumuman</h4>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            <div class="item">
                <div class="portfolio-item">
				<div class="down-content">
                  <h4>Pengumuman 1</h4>
				  <br>
                  <h6>Permohonan Baharu Tauliah Mengajar Negeri Selangor dibuka dari 1hb – 15 haribulan setiap bulan. Untuk membuat permohonan, sila rujuk pada Tatacara Permohonan Tauliah</h6>
				  <div class="col-lg-12">
                    <div class="border-second-button scroll-to-section" >
                      <button onclick="location.href='pengumuman.html'">Lebih Lanjut</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
                <div class="portfolio-item">
                <div class="down-content">
                  <h4>Pengumuman 2</h4>
				  <br>
                  <h6>Permohonan Pengecualian Peraturan 22(1)(h)<h6>
				  <div class="col-lg-12">
                    <div class="border-second-button scroll-to-section">
                      <button onclick="location.href='pengumuman.html'">Lebih Lanjut</button>
                    </div>
                  </div>
                </div>
                <!--<div class="thumb">
                  <img src="assets/images/portfolio-01.jpg" alt="">
                </div>-->
              </div>
            </div>
            <!--<div class="item">
                <div class="portfolio-item">
				<div class="down-content">
                  <h4>Pengumuman 3</h4>
                  <div class="col-lg-12">
                    <div class="border-second-button scroll-to-section">
                      <a href="#contact">Lebih Lanjut</a>
                    </div>
                  </div>
                </div>
                <!--<div class="thumb">
                  <img src="assets/images/portfolio-02.jpg" alt="">
                </div>--
              </div>
            </div>
            <div class="item">
                <div class="portfolio-item">
				<div class="down-content">
                  <h4>Pengumuman 4</h4>
                  <div class="col-lg-12">
                    <div class="border-second-button scroll-to-section">
                      <a href="#contact">Lebih Lanjut</a>
                    </div>
                  </div>
                </div>
                <!--<div class="thumb">
                  <img src="assets/images/portfolio-03.jpg" alt="">
                </div>--
                
              </div>
            </div>
            <div class="item">
                <div class="portfolio-item">
                <div class="down-content">
                  <h4>Pengumuman 5</h4>
                  <div class="col-lg-12">
                    <div class="border-second-button scroll-to-section">
                      <a href="#contact">Lebih Lanjut</a>
                    </div>
                  </div>
                </div>
                <!--<div class="thumb">
                  <img src="assets/images/portfolio-04.jpg" alt="">
                </div>--
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <!--  <img src="assets/images/about-dec.png" alt="">-->
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/puncakuasa.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/puncakuasa2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/puncakuasa3.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="color:#AED6F1;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="color:#AED6F1;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading" style="margin-left:6%;">
                 
                  <h4>SURAT ARAHAN <em> & </em> PUNCA KUASA</h4>
                  <div class="line-dec"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id="free-quote" class="free-quote">
    <div class="container">
      <div class="row">
	   <div class="nacc">
        <div class="col-lg-8 offset-lg-2 align-self-center">
		
          <div class="section-heading  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            <h4>Carian Penceramah Bertauliah Negeri Selangor</h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2  wow fadeIn " data-wow-duration="1s" data-wow-delay="0.8s">
		 
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-8 col-sm-4">
                <fieldset>
                  <input type="web" name="web" class="website" placeholder="" autocomplete="on" required>
                </fieldset>
              </div>
              <!--<div class="col-lg-4 col-sm-4">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>-->
              <div class="col-lg-4 col-sm-4">
                <fieldset>
                  <button type="submit" class="main-button">Cari</button>
                </fieldset>
              </div>
            </div>
          </form>
		  </div>
        </div>
      </div>
    </div>
  </div>
     
<div id="faq" class="soalan-lazim" style="margin-top: 15%; padding: 50px;">
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 offset-lg-4" >
          <div class="section-heading" style="padding-left: 20px;">
            <br><h4>SOALAN LAZIM</h4>
			 <div class="line-dec"></div><br>
          </div>
        </div>
		<div class="container2">
        <div class="question">
          <!-- Tabs navs -->
          <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Maklumat Umum</a>
            </li>
            <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Permohonan Tauliah Mengajar</a>
            </li>
            <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Ujian Penilaian</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="false">Temu Duga</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex1-tab-5" data-bs-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false">Membaharui Tauliah</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex1-tab-6" data-bs-toggle="tab" href="#ex1-tabs-6" role="tab" aria-controls="ex1-tabs-6" aria-selected="false">Perakuan Tauliah</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex1-tab-7" data-bs-toggle="tab" href="#ex1-tabs-7" role="tab" aria-controls="ex1-tabs-7" aria-selected="false">Penarikan Balik Tauliah</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="ex1-tab-8" data-bs-toggle="tab" href="#ex1-tabs-8" role="tab" aria-controls="ex1-tabs-8" aria-selected="false">Kewajipan Pemegang Tauliah</a>
            </li>
          </ul>
          <!-- Tabs navs -->
      
          <!-- Tabs content -->
          <div class="tab-content" id="ex1-content">
            <!--Maklumat Umum Tab-->
            <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
            <!--Accordian 1-->
            <div class="accordion" id="accordian-1">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="basicAccordionCollapseOne" style="color: #030e4f;">
                  Berapa lama tempoh sesuatu tauliah diberikan?
                </button>
                </h2>
                <div id="basicAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  <b>Tidak melebihi lima tahun</b> berkuat kuasa 
                  dari tarikh ia dikeluarkan melainkan digantung atau 
                  ditamatkan lebih awal.
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="basicAccordionCollapseTwo" style=" color: #030e4f;">
                  Apakah hukum yang boleh dikenakan akibat kesalahan mengajar tanpa tauliah?
                </button>
                </h2>
                <div id="basicAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  Jika disabitkan bersalah, boleh didenda 
                 <b> tidak melebihi tiga ribu ringgit atau dipenjarakan selama tempoh 
                  tidak melebihi dua tahun atau kedua-duanya.</b>
                  <b>Seksyen  119, Enakmen Pentadbiran Agama Islam (Negeri Selangor) 2003 </b>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="basicAccordionCollapseThree" style="color: #030e4f;">
                  Siapakah yang boleh didakwa atas kesalahan mengajar agama Islam tanpa tauliah?
                </button>
                </h2>
                <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  <ol>
                  <li>Individu yang mengajar tanpa tauliah.</li>
                  <li>Individu (penganjur) yang mengundang individu mengajar tanpa tauliah.</li>
                  </ol>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseFour" aria-expanded="false" aria-controls="basicAccordionCollapseFour" style="color: #030e4f;">
                  Bagaimana orang awam boleh mendapatkan senarai nama penceramah yang bertauliah?
                </button>
                </h2>
                <div id="basicAccordionCollapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  Melalui laman web :<a href="http://tauliah.jais.gov.my/"> tauliah.jais.gov.my</a>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseFive" aria-expanded="false" aria-controls="basicAccordionCollapseFive" style="color: #030e4f;">
                  Apakah punca kuasa bagi pengurusan Tauliah mengajar Agama Islam Negeri Selangor?
                </button>
                </h2>
                <div id="basicAccordionCollapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  <ol>
                  <li>Enakmen Pentadbiran Agama Islam (Negeri Selangor) 2003. </li>
                  <li>Peraturan-Peraturan Tauliah (Negeri Selangor) 2008.</li>
				  </ol>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                        href="#basicAccordionCollapseSix" aria-expanded="false" aria-controls="basicAccordionCollapseSix" style="color: #030e4f;">
                        Adakah perlu tauliah jika mengajar agama di rumah untuk ahli keluarga sahaja?
                      </button>
                    </h2>
                    <div id="basicAccordionCollapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                      data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                      <div class="accordion-body">
                        Tidak perlu tauliah dan tidak menjadi kesalahan 
                        jika mengajar agama Islam di dalam kediaman sendiri kepada anggota keluarga sahaja.
                      </div>
                    </div>
                  </div>
            </div>
            <!-- End of Accordian 1-->
            </div>
            <!--End of Maklumat Umum Tab-->

            <!--Permohonan Tauliah Mengajar Tab-->
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <!--Accordian 2-->
            <div class="accordion" id="accordian-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="color: #030e4f;">
                  Bilakah permohonan tauliah mengajar dibuka?
                </button>
                </h2>
                <div id="basicAccordionCollapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                  Permohonan tauliah mengajar 
                  dibuka pada setiap <b>1hb hingga 15hb</b> setiap bulan.
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseEight" aria-expanded="false" aria-controls="collapseEight" style="color: #030e4f;">
                  Bagaimana cara untuk memohon Tauliah Mengajar Negeri di Negeri Selangor?
                </button>
                </h2>
                <div id="basicAccordionCollapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-mdb-parent="#basicAccordion" style="background-color:#fff; color: #030e4f;">
                <div class="accordion-body">
                 <ol>
                    <li>Daftar akaun pengguna melalui Perkhidmatan Digital Tauliah Mengajar. </li>
                    <li>Lengkapkan borang permohonan.</li>
                    <li>Tunggu keputusan Jawatankuasa.</li>
                    *Sila rujuk<b> Tatacara Permohonan Tauliah Mengajar & Carta Alir Permohonan Tauliah Mengajar</b> di muka hadapan Sistem.
                  </ol>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse" href="#basicAccordionCollapseNine" aria-expanded="false" aria-controls="collapseNine" style="color: #030e4f;">
                  Apakah kelayakan yang membolehkan seseorang memohon tauliah?
                </button>
                </h2>
                <div id="basicAccordionCollapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                <div class="accordion-body">
                  Seseorang yang ingin memohon Tauliah hendaklah memenuhi kehendak berikut :
                  <ol class="alpha">
                    <li>warganegara Malaysia;</li>
                    <li>beragama Islam;</li>
                    <li>berumur 18 tahun dan ke atas;</li>
                    <li>mempunyai kelulusan dalam pengajian Islam sekurang-kurangnya di peringkat Sijil Tinggi Agama Malaysia 
                      atau yang setaraf dengannya atau di peringkat sijil 
                      yang diperakui oleh Jawatankuasa;</li>
                    <li>bermastautin dalam Negeri Selangor;</li>
                    <li>tidak memegang apa-apa jawatan dalam mana-mana parti politik; dan</li>
                    <li>tidak menjadi ahli Dewan Negara, Dewan Rakyat atau Dewan Negeri.</li>
                  </ol>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapseTen" aria-expanded="false" aria-controls="collapseTen" style="color: #030e4f;">
                  Apakah kategori tauliah mengajar yang ditetapkan?
                </button>
                </h2>
                <div id="basicAccordionCollapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                <div class="accordion-body">
                  <b><u>Kategori Tauliah Mengajar Agama Islam Negeri Selangor </u></b><br>
                  <br><b>D1</b><br>
                  Tauliah Mengajar Berkitab yang membenarkan pemegangnya mengajar agama Islam secara berkala di mana-mana premis.
                  <br><b>D2A</b><br>
                  Tauliah   Mengajar  Al-Quran yang membenarkan pemegangnya mengajar keseluruhan aspek kemahiran Al-Quran di mana-mana premis.
                  <br><b>D2B</b><br>
                  Tauliah Mengajar Al-Quran yang membenarkan pemegangnya mengajar kemahiran asas Al-Quran di mana-mana premis.
                  <br><b>D3</b><br>
                  Tauliah Mengajar Umum yang membenarkan pemegangnya memberi ceramah umum berhubung dengan apa-apa aspek agama Islam di mana- mana premis.
                  <br><b>D4</b><br>
                  Tauliah Mengajar Bidang Khusus yang membenarkan individu yang tidak memiliki kelayakan seperti yang ditetapkan.
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapse11" aria-expanded="false" aria-controls="collapse11" style="color: #030e4f;">
                  Bagaimana jika seseorang itu tidak memenuhi syarat kelayakan? 
                  Adakah berpeluang untuk memohon tauliah?
                </button>
                </h2>
                <div id="basicAccordionCollapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                <div class="accordion-body">
				<b><u>Permohonan Yang Tidak Memenuhi Syarat Kelayakan </u></b><br>
                  <br>
                  <ol>
                    <li>Permohonan ini boleh dibuat bagi mana-mana orang yang
                      tidak memenuhi syarat kelayakan seperti berikut:
                        <ul>
                          <li>Bukan warganegara Malaysia;</li>
                          <li>Berumur bawah 18 Tahun;</li>
                          <li>Tidak mempunyai kelulusan dalam pengajian Islam sekuruang-kurangnya di peringkat Sijil 
                            Tinggi Agama Malaysia atau yang setaraf dengannya; atau</li>
                          <li>Bermastautin luar Negeri Selangor.</li>
                        </ul>
                    </li>
                    <li>Urus setia akan membawa permohonan pengecualian dalam Mesyuarat Jawatankuasa untuk pertimbangan.</li>
                    <li>Sekiranya permohonan pengecualian diluluskan oleh Jawatankuasa, pemohon akan diberi notifikasi 
                      melalui e-mel dan boleh meneruskan permohonan mengikut prosedur yang ditetapkan. </li>
                  </ol>
                </div>
                </div>
              </div>
            </div>
            <!-- End of Accordian 2 -->
            </div>
            <!-- End of Permohonan Tauliah Mengajar Tab-->

            <!-- Ujian Penilaian Tab-->
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            <!--Accordian 3-->
            <div class="accordion" id="accordian-3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapse12" aria-expanded="false" aria-controls="collapse12" style="background-color:#fff; color: #030e4f;">
                  Bilakah saya boleh menduduki ujian penilaian?
                </button>
                </h2>
                <div id="basicAccordionCollapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                <div class="accordion-body">
                  Sekiranya pemohon memenuhi syarat kelayakan dan telah melengkapkan permohonan, 
                  sistem ini akan mengaktifkan butang Ujian Penilaian dan memberikan notifikasi 
                  kepada pemohon untuk menjawab soalan pada bila-bila masa <b>dalam tempoh 72 jam</b> sahaja.
                  <p style="color: #030e4f;">*Sila rujuk <b>Tatacara Pelaksanaan Ujian Penilaian 
                    Tauliah Mengajar Secara Dalam Talian (Online).</b></p>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading13">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapse13" aria-expanded="false" aria-controls="collapse13" style="color: #030e4f;">
                  Apakah yang dimaksudkan gagal dalam ujian penilaian dan adakah pemohon boleh memohon semula jika gagal dalam ujian tersebut? 
                </button>
                </h2>
                <div id="basicAccordionCollapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                data-mdb-parent="#basicAccordion" style=" color: #030e4f;">
                <div class="accordion-body">
                  <ol class="roman">
                    <li>Pemohon dikategorikan sebagai GAGAL apabila:
                      <ol class="alpha">
                        <li><b>TIDAK menjawab soalan dalam tempoh yang ditetapkan; atau</b></li>
                        <li><b>TIDAK melepasi tahap minimum markah lulus.</b></li>
                      </ol>
                    </li>
					<li>Tempoh boleh memohon semula terbahagi kepada 2 :
                      <ol class="alpha">
                        <li><b>GAGAL KALI PERTAMA</b> – boleh membuat permohonan semula <b>selepas 3 bulan</b> dari tarikh keputusan ujian. </li>
                        <li><b>GAGAL KALI KEDUA & SETERUSNYA</b> – boleh membuat permohonan semula <b>selepas 6 bulan</b> dari tarikh keputusan ujian. </li>
                      </ol>
                    </li>
                  </ol>
                </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading14">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                  href="#basicAccordionCollapse14" aria-expanded="false" aria-controls="collapse14" style="color: #030e4f;">
                  Berapakah jumlah soalan dan tempoh masa yang ditetapkan bagi menjawab Ujian Penilaian?
                </button>
                </h2>
                <div id="basicAccordionCollapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                <div class="accordion-body">
                  Pemohon hendaklah menjawab <b>80 soalan</b> dalam tempoh <b>1 jam 30 minit daripada 2 bahagian:</b> 
                  <ol class="roman">
                    <li>Bahagian A – 50 soalan Fardhu Ain</li>
                    <li>Bahagian B – 30 soalan Nilai </li>
                  </ol>
                </div>
                </div>
              </div>
            </div>
            <!-- End of Accordian 3 -->
            </div>
            <!-- End of Ujian Penilaian Tab-->

             <!-- Temu Duga Tab-->
             <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
              <!--Accordian 4-->
              <div class="accordion" id="accordian-4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading15">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse15" aria-expanded="false" aria-controls="collapse15" style="color: #030e4f;">
                    Bilakah pemohon akan dipanggil untuk sesi temu duga? 
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    <ol>
                      <li>Jika pemohon <b>LULUS</b> ujian penilaian, sistem 
                        akan memberikan notifikasi untuk pemohon memilih tarikh sesi temu duga. 
                      </li>
                      <li>Sekiranya <b>bersetuju</b>, pemohon hendaklah mengesahkan kehadiran.</li>
                      <li>Sekiranya <b>tidak bersetuju</b>, pemohon <b>perlu memberi notis bertulis</b> 
                        kepada urus setia melalui e-mel <a href="http://tauliah.jais.gov.my/"> tauliah.jais.gov.my</a>
                      </li>
                      <li>Sekiranya pemohon <b>tidak memberikan notis bertulis,</b> 
                        permohonan akan ditolak dan boleh memohon semula selepas 6 bulan. 
                      </li>
                      <li>Sekiranya pemohon <b>tidak hadir sesi temu duga tanpa notis</b>, 
                        maka permohonan akan ditolak dan boleh memohon semula <b>selepas 6 bulan.</b>
                      </li>
                    </ol>
                    <p style="color: #030e4f;">*Sila rujuk <b>Tatacara Menghadiri Temu Duga.</b> </p>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End of Accordian 4 -->
              </div>

<!-- End of Temu Duga Tab-->

              <!-- Membaharui Tauliah Tab-->
             <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
              <!--Accordian 5-->
              <div class="accordion" id="accordian-5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading16">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse16" aria-expanded="false" aria-controls="collapse16" style="color: #030e4f;">
                    Bilakah tempoh untuk membaharui tauliah?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    Permohonan bagi membaharui Tauliah hendaklah dibuat tidak lewat 
                    dari 6 bulan sebelum tarikh tamat sah Tauliah yang terbahagi kepada :
                    <ol class="roman">
                      <li><b>Tamat pada 30 Jun</b>: hendaklah memperbaharui <b>sebelum @ pada 
                        31 Disember tahun sebelumnya.</b>
                      </li>
                      <li><b>Tamat pada 31 Disember</b>: hendaklah <b>memperbaharui 
                        sebelum @ pada 30 Jun.</b>
                      </li>
                    </ol>
                  </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading17">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse17" aria-expanded="false" aria-controls="collapse17" style=" color: #030e4f;">
                    Bagaimana jika tauliah saya telah tamat tempoh?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    Permohonan dianggap sebagai <b>permohonan baharu.</b>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End of Accordian 5 -->
              </div>
              <!-- End of Membaharui Tauliah Tab-->

<!-- Kewajipan Pemegang Tauliah Tab-->
             <div class="tab-pane fade" id="ex1-tabs-6" role="tabpanel" aria-labelledby="ex1-tab-6">
              <!--Accordian 6-->
              <div class="accordion" id="accordian-6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading18">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse18" aria-expanded="false" aria-controls="collapse18" style="color: #030e4f;">
                    Siapakah yang layak mendapat perakuan tauliah ?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    Pemohon yang telah diluluskan tauliah mengajar oleh Jawatankuasa Tauliah.
                  </div>
                  </div>
                </div>
				 <div class="accordion-item">
                  <h2 class="accordion-header" id="heading21">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse21" aria-expanded="false" aria-controls="collapse21" style="color: #030e4f;">
                    Bagaimana tatacara mendapatkan Perakuan Tauliah?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse21" class="accordion-collapse collapse" aria-labelledby="heading21"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    Sebelum PBNS dibenarkan mencetak perakuan tauliah, PBNS 
                    hendaklah melaksanakan perkara-perkara berikut:
                    <ol class="roman">
                      <li>Perakuan/Persetujuan PBNS terhadap syarat Tauliah.</li>
                      <li>Mengisi maklum balas pelanggan.</li>
                      <li>Menjelaskan fi bayaran sebanyak <b>RM50.00.</b></li>
                    </ol>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End of Accordian 6 -->
              </div>
              <!-- End of Kewajipan Pemegang Tauliah Tab-->

<!-- Penarikan Balik Tauliah Tab-->
             <div class="tab-pane fade" id="ex1-tabs-7" role="tabpanel" aria-labelledby="ex1-tab-7">
              <!--Accordian 7-->
              <div class="accordion" id="accordian-7">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading19">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse19" aria-expanded="false" aria-controls="collapse19" style="color: #030e4f;">
                    Apakah yang menyebabkan tauliah mengajar agama Islam seseorang individu itu ditarik balik?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                  data-mdb-parent="#basicAccordion" style="color: #030e4f;">
                  <div class="accordion-body">
                    Selaras dengan peraturan 17 Peraturan-Peraturan Tauliah (Negeri Selangor) 2008, 
                    Jawatankuasa Tauliah boleh <b>menggantung atau menarik balik sesuatu tauliah</b> yang telah 
                    dikeluarkan kepada seseorang Pemegang Tauliah, 
                    mengikut mana berkenaan, jika Jawatankuasa mendapati bahawa: 
                    <ol class="alpha">
                      <li>
                        Pemegang Tauliah telah melanggar atau tidak mematuhi 
                        atau tidak menjalankan mana-mana terma, syarat atau sekatan yang dinyatakan dalam Tauliah;
                      </li>
                      <li>
                        Pemegang Tauliah memberi ceramah umum atau mengajar pengajaran Agama 
                        Islam secara yang bertentangan dengan syariah atau aqidah Islamiah;
                      </li>
                      <li>Pemegang Tauliah memberi ceramah umum atau memberi pengajaran Agama Islam yang 
                        mempunyai kecenderungan bagi mendatangkan benci atau penghinaan atau bagi membangkitkan 
                        perasaan tidak suka terhadap Kerajaan Persekutuan atau mana-mana Kerajaan Negeri atau bagi
                        mengembangkan perasaan buruk sangka dan permusuhan antara beberapa kaum atau 
                        golongan penduduk Malaysia;
                      </li>
                      <li>
                        Pemegang Tauliah memberi tafsiran tidak tepat, keliru atau menyeleweng 
                        dari ajaran sebenar agama dalam ceramah umum atau pengajaran Agama Islamnya;
                      </li>
                      <li>
                        Pemegang Tauliah tidak mematuhi apa-apa arahan, 
                        larangan atau perintah yang diberikan secara sah oleh MAIS atau Jawatankuasa; atau
                      </li>
                      <li>
                        Pemegang Tauliah berkelakuan dengan cara yang mencemarkan Agama Islam.
                      </li>
                    </ol>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End of Accordian 7-->
              </div>
              <!-- End of Penarikan Balik Tauliah Tab-->

<!-- Perakuan Tauliah Tab-->
             <div class="tab-pane fade" id="ex1-tabs-8" role="tabpanel" aria-labelledby="ex1-tab-8">
              <!--Accordian 8-->
              <div class="accordion" id="accordian-8">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading20">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-bs-toggle="collapse"
                    href="#basicAccordionCollapse20" aria-expanded="false" aria-controls="collapse20" style="color: #030e4f;">
                      Apakah kewajipan seseorang pemegang Tauliah?
                  </button>
                  </h2>
                  <div id="basicAccordionCollapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                  data-mdb-parent="#basicAccordion" style=" color: #030e4f;">
                  <div class="accordion-body">
                     Selaras dengan peraturan 23, Peraturan-Peraturan Tauliah (Negeri Selangor) 2008, 
                    pihak Tuan/Puan hendaklah <b>menjalankan kewajipan Pemegang Tauliah</b> sebagaimana berikut: 
                    <ol class="alpha">
                      <em><li value="8"></em>memberi ceramah umum mengenai apa-apa aspek Agama Islam atau 
                        mengajar Agama Islam berdasarkan Al-Quran, Al-sunnah, Ijma’ dan Qias;
                      </li>
                      <li>berakhlak mulia dan amanah;</li>
                      <li>menjalankan daya usaha untuk mengekalkan, memperbaiki dan mengukuhkan 
                        persaudaraan dan perpaduan masyarakat Islam dan menggalakkan orang Islam meninggikan 
                        taraf hidup dan ekonomi serta menambahkan amalan dan takwa mereka kepada Allah;
                      </li>
                      <li>tidak memfitnah saudara Islam yang lain; dan</li>
                      <li>mematuhi undang-undang atau apa-apa arahan, larangan 
                        atau perintah yang diberikan oleh MAIS dan Jawatankuasa dari semasa ke semasa.
                      </li>
                    </ol>
                  </div>
                  </div>
                </div>
              </div>
              <!-- End of Accordian 8-->
              </div>
              <!-- End of Perakuan Tauliah Tab-->
          <!-- Tabs content -->
        </div>
      </div>
	  </div>
	  </div>
      </div>
    </div>
	
	  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Hubungi <em>Kami</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <!--div class="contact-dec">
                  <img src="assets/images/contact-dec.png" alt="">
                </div>-->
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.051316019243!2d101.51656131532734!3d3.0809775544257634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM8KwMDQnNTEuNSJOIDEwMcKwMzEnMDcuNSJF!5e0!3m2!1sen!2smy!4v1563911729140!5m2!1sen!2smy" width="100%" height="800px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/telephone.png" alt="">
                          <a href="#">+603-5514 3400/2175</a>
                        </div>
                      </div>
                    </div>
					<div class="col-lg-5">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/fax.png" alt="">
                          <a href="#">+603-3361 4100</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/email.png" alt="">
                          <a href="#">pro@mais.gov.my</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/location.png" alt="">
                          <a href="#">Majlis Agama Islam Selangor, Tingkat 9 & 10, Menara Utara, Bangunan Sultan Idris Shah, 40000 Shah Alam, Selangor</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <<p> Majlis Agama Islam Selangor. Hak cipta terpelihara © 2022</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/slick-slider.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/video.js"></script>
  <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
       

<script>
const btns = document.querySelectorAll(".acc-btn");

// fn
function accordion() {
  // this = the btn | icon & bg changed
  this.classList.toggle("is-open");

  // the acc-content
  const content = this.nextElementSibling;

  // IF open, close | else open
  if (content.style.maxHeight) content.style.maxHeight = null;
  else content.style.maxHeight = content.scrollHeight + "px";
}

// event
btns.forEach((el) => el.addEventListener("click", accordion));
</script>
</body>
</html>